@{
	ViewData["Title"] = "About me";

	var info = ViewData["Info"] as Info;
}

<div>
	<h2>@info.FirstName @info.LastName</h2>
	<h3>@info.Age лет</h3>
	<h3>@info.City</h3>
	<h3>@info.Grade класс</h3>
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Skills">Skills</a>
</div>