@using ASP_NET_PZ_03.Models.Forms
@using System.Text.Json
@model InfoForm
@{
	var Skills = ViewData["Skills"] as List<InfoSkill>;
	ViewData["Title"] = "Edit";

	var uniqueId = Guid.NewGuid().ToString().ToLower().Substring(0, 5);
	var images = ViewData["Images"] as List<ImageFile> ?? new List<ImageFile>();
}
<link rel="stylesheet" href="/css/Form.css">
<script src="jquery-3.7.1.min.js"></script>

<form asp-controller="Info" method="post" asp-action="Edit" enctype="multipart/form-data">
	<div class="form_container">


	<div id="carousel-@uniqueId" class="carousel slide" style="height:250px;width:250px;margin:auto;">
	  <div class="carousel-indicators">
		@for (int i = 0; i < images.Count; i++)
				{
					<button type="button"data-bs-target="#carosel-@uniqueId" data-bs-slide-to="@i" class="@(i == 0 ? "active":null)" aria-current="true" aria-label="Slide @(i + 1)"></button>
				}
	  </div>
	  <div class="carousel-inner">
				@{
					var first = true;
				}
				@foreach (var image in images)
				{
					<div class="carousel-item @(first ? "active" : null)">
						<img src="@image.ImgSrc" class="d-block w-100" alt="img">
						<div class="carousel-caption">
							<button 
								data-confirm-message="Do you want to delete image?" 
								data-successMessage="Image was deleted!" 
								data-errorMessage="Error!Failed to delete image" 
								data-body="@JsonSerializer.Serialize(new DeleteInfoImageForm {ImageId = image.Id,InfoId = int.Parse(@ViewContext.RouteData.Values["id"].ToString())})"
								asp-controller="Info" 
								asp-action="DeleteImage" 
								data-info-id="@ViewContext.RouteData.Values["id"]" 
								data-id="@image.Id" class="btn btn-danger delete-image confirm-action">
								Удалить
							</button>
						</div>
					</div>
					first = false;
				}
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@uniqueId" data-bs-slide="prev">
		<span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carousel-@uniqueId" data-bs-slide="next">
		<span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	  </button>
	</div>
	<div>

	</div>

		<label>FirstName :</label>
		<input type="text" placeholder="Your FirstName..." asp-for=FirstName>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.FirstName)
		</p>

		<label >LastName :</label>
		<input type="text" placeholder="Your LastName..." asp-for=LastName>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.LastName)
		</p>

		<label>City :</label>
		<input type="text" placeholder="Your City..." asp-for=City>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.City)
		</p>

		<label>Age :</label>
		<input type="number" placeholder="Your Age..." asp-for=Age>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.Age)
		</p>

		<label>BirthDay :</label>
		<input type="date" placeholder="Your BirthDay..." asp-for=BirthDay>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.BirthDay)
		</p>

		<label>Busy :</label>
		<input type="checkbox" placeholder="" asp-for=Busy>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.Busy)
		</p>

		<label>Description :</label>
		<textarea placeholder="Your Description..." asp-for=Description ></textarea>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.Description)
		</p>

<a asp-controller="InfoSkill" asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-outline-primary">Создать</a>

<div class="row">
<div class="col-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Название</th>
					<th>Level</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@if(Skills != null){
							@foreach (var item in Skills)
							{
												<tr>
													<td>@item.Id</td>
													<td>@item.Skill.Title</td>
													<td>@item.Level</td>
													<td>
														<div class="control">
															<a asp-controller="InfoSkill" asp-action="Edit" asp-route-infoId="@ViewContext.RouteData.Values["id"]" asp-route-infoSkillId="@item.Id" class="btn btn-outline-primary" style="margin-left:40px;">Изменить</a>
															<a asp-controller="InfoSkill" asp-action="Delete" asp-route-infoId="@ViewContext.RouteData.Values["id"]" asp-route-infoSkillId="@item.Id" class="btn btn-outline-danger mx-1">Удалить</a>
														</div>
													</td>
												</tr>
							}
				}
			</tbody>
		</table>
	</div>
</div>

		<input type="submit">
	</div>
</form>
	
@section Scripts{
	<script>
		$(".delete-image").on("click",e =>{
			e.preventDefault()

			console.log("ENTER");

			let target = $(e.target);

			let ConfirmMessage = target.data("confirm-message");
			let successMessage = target.data("successMessage");
			let errorMessage = target.data("errorMessage");
			let body = target.data("body");

			let url = target.attr("formaction");
			


			Swal.fire({
				title: ConfirmMessage,
				showDenyButton: true,
				confirmButtonText : "Confirm",
				denyButtonText: "Deny",
			}).then((result) =>{
				if(result.isConfirmed)
				{
					fetch(url,{
						method: "POST",
						headers : {
							"Content-Type":"application/json",
						},
							body: JSON.stringify(body)
						})
						.then(res => res.json())
						.then(data=> {
						if(data.ok){
								Swal.fire(successMessage,"","success").then(() =>{
								window.location.reload();
							});
						}
						else{
								Swal.fire(errorMessage,"","error");
						}
					})
				}
			});
		})
	</script>
}
